body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: rgb(32, 47, 68);
    color: #fff;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20%;
}

.avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 125px;

}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #C94C5F;
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #702b12;
    color: #000;

}

.msg{
    color: #e0c5c8;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1025rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    /* width: 200px;
    height: 200px; */
}

/* #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    opacity: 0;
  }
  
  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }
  
  #error-msg-second-line {
    display: block;
  } */