
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <title>CMotor control</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/master.css') }}">
    
    <script defer src="/js/motor.js"></script>
</head>


<body>
    {% for child_template in custom_elements_files %}
      {% include child_template.replace('./app/templates/', '') %}
    {% endfor %}
    <h1>Manage connections</h1>
       <h2> Manage source connection:
         <h3>
          <a href="/source/on" class="button">TURN ON</a>
          <a href="/source/off"class="button">TURN OFF</a>
         </h3>
       </h2>
       <h2> Manage USB connection:
         <h3>
          <a href="/usb/on" class="button">TURN ON</a>
          <a href="/usb/off"class="button">TURN OFF</a>
         </h3>
       </h2>
       <a href="/home" class="button">Go back</a>


</body>


</html>
