
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Control Proyect</title>
    <link rel="stylesheet" href='../static/css/master.css'/>

</head>

<body>
    <h1>Manage connections</h1>
       <h2> Manage source connection:
         <h3>
          <a href="/source/on" class="button">TURN OFF</a>
          <a href="/source/off"class="button">TURN ON</a>
         </h3>
       </h2>
       <h2> Manage USB connection:
         <h3>
          <a href="/usb/on" class="button">TURN OFF</a>
          <a href="/usb/off"class="button">TURN ON</a>
         </h3>
       </h2>
       <a href="/" class="button">Go back</a>


</body>

</html>
