<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Control Proyect</title>
    <link rel= "stylesheet" type= "text/css" href ="/css/loginstyle.css"/>
    <script defer src="/js/login.js"></script>
</head>

<body>
    <!-- <div id="login-error-msg-holder">
        <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div> -->

    <div class="loginbox">
        <img src= "img/usuario.png" class= "avatar">
        <h1>Login</h1>

        <form id="login-form"> 
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter your Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type ="submit" name="" value="Login" id="login-form-submit">
            
        </form>

    </div>


</body>

</html>
